fastapi
uvicorn
python-multipart
sqlmodel
sqlalchemy
python-jose[cryptography]
passlib
bcrypt==3.2.0
cryptography
pydantic[email]
email-validator
transformers
torch
openai-whisper
numpy
google-auth
google-auth-oauthlib
google-api-python-client
apscheduler
python-dotenv
openpyxl
huggingface_hub