* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;

  background: #f7f7f8;

  color: #1f2937;
}

.app-container {
  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding: 40px 20px;
}